<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Form</title>

    <!-- Latest compiled and minified CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>

    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>

    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            th:href="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>
<!--/*@thymesVar id="recipe" type="com.syalar.sfg.recepies.commands.RecipeCommand"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row justify-content-md-center">
        <div class="col-md-6 col-md-offset-3">
            <form method="post" th:action="@{/recipe/}" th:object="${recipe}">

                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                    <p>Please Correct Errors Below</p>
                </div>

                <input th:field="*{id}" type="hidden"/>
                <div class="panel-group">
                    <div class="card border-primary">
                        <div class="card-header bg-primary">
                            <h5 class="card-title text-white">Edit Recipe Information</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('description')}
                                ? 'col-md-3 form-group is-invalid ' : 'col-md-3 form-group'">
                                    <label class="badge">Recipe Description:</label>
                                    <input class="form-control" th:errorclass="is-invalid" th:field="*{description}"
                                           type="text"/>
                                    <div class="form-text invalid-feedback"
                                         th:if="${#fields.hasErrors('description')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('description')}" th:text="${err}"/>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 form-group">
                                    <label class="badge">Categories:</label>
                                </div>
                                <div class="col-md-9 form-group">
                                    <div class="radio">
                                        <label class="badge">
                                            <input type="checkbox" value=""/>
                                            Cat 1
                                        </label>
                                    </div>
                                    <div class="radio" th:remove="all">
                                        <label class="badge">
                                            <input type="checkbox" value=""/>
                                            Cat 2
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('prepTime')}
                                ? 'col-md-3 form-group is-invalid ' : 'col-md-3 form-group'">
                                    <label class="badge">Prep Time:</label>
                                    <input class="form-control" th:errorclass=" is-invalid" th:field="*{prepTime}"
                                           type="text"/>
                                    <div class="form-text invalid-feedback"
                                         th:if="${#fields.hasErrors('prepTime')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('prepTime')}" th:text="${err}"/>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('cookTime')}
                                ? 'col-md-3 form-group is-invalid ' : 'col-md-3 form-group'">
                                    <label class="badge">Cooktime:</label>
                                    <input class="form-control" th:errorclass=" is-invalid" th:field="*{cookTime}"
                                           type="text"/>
                                    <div class="form-text invalid-feedback"
                                         th:if="${#fields.hasErrors('cookTime')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('cookTime')}" th:text="${err}"/>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label class="badge">Difficulty:</label>
                                    <select class="form-control" th:field="*{difficulty}">
                                        <option th:each="difficultyValue : ${T(com.syalar.sfg.recepies.domain.Difficulty).values()}"
                                                th:text="${difficultyValue.name()}"
                                                th:value="${difficultyValue.name()}"
                                        >val
                                        </option>
                                    </select>
                                    <select class="form-control" th:remove="all">
                                        <option>Easy</option>
                                        <option>Medium</option>
                                        <option>Hard</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('servings')}
                                ? 'col-md-3 form-group is-invalid ' : 'col-md-3 form-group'">
                                    <label class="badge">Servings:</label>
                                    <input class="form-control" th:errorclass=" is-invalid" th:field="*{servings}"
                                           type="text"/>
                                    <div class="form-text invalid-feedback"
                                         th:if="${#fields.hasErrors('servings')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('servings')}" th:text="${err}"/>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label class="badge">Source:</label>
                                    <input class="form-control" th:field="*{source}" type="text"/>
                                </div>
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('url')}
                                ? 'col-md-3 form-group is-invalid ' : 'col-md-3 form-group'">
                                    <label class="badge">URL:</label>
                                    <input class="form-control" th:errorclass=" is-invalid" th:field="*{url}"
                                           type="text"/>
                                    <div class="form-text invalid-feedback"
                                         th:if="${#fields.hasErrors('url')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('url')}" th:text="${err}"/>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card border-primary">
                        <div class="card-header bg-primary">
                            <div class="form-row">
                                <div class="col-md-11 ">
                                    <h5 class="card-title text-white">Ingredients</h5>
                                </div>
                                <div class="col-md-1">
                                    <a class="btn btn-light" href="#"
                                       role="button" th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <ul th:if="${not #lists.isEmpty(recipe.ingredients)}">
                                        <li th:remove="all">1 Cup of milk</li>
                                        <li th:remove="all">1 Teaspoon of chocolate</li>
                                        <li th:remove="all">asdf</li>
                                        <li th:each="ingredient : ${recipe.ingredients}"
                                            th:text="${(ingredient.getAmount() +
                                        ' ' + ingredient.uom.getDescription() +
                                        ' - ' + ingredient.getDescription())}">1 Teaspoon of Sugar
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card border-primary">
                        <div class="card-header bg-primary">
                            <h5 class="card-title text-white">Directions</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{directions}"></textarea></div>
                            </div>
                        </div>
                    </div>
                    <div class="card border-primary">
                        <div class="card-header bg-primary">
                            <h5 class="card-title text-white">Notes</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{notes.recipeNotes}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>